body {
  background-color: #c5c5c5;
}

:root {
  --primary-color: #2c3e50;
  --secondary-color: #34495e;
  --accent-color: #3498db;
}

.navbar {
  background-color: #ffe600; /* Color actualizado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  color: rgb(0, 0, 0) !important;
  transition: transform 0.3s ease;
}

.navbar-brand:hover {
  transform: scale(1.05);
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: white !important;
  text-decoration: none;
}

.logout-button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease;
}

.logout-button:hover {
  color: var(--accent-color);
}

.form-control {
  border-radius: 25px;
  transition: all 0.3s ease;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
  border-color: var(--accent-color);
}

footer {
  background-color: var(--secondary-color);
  color: #ecf0f1;
  padding: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    max-height: 80vh;
    overflow-y: auto;
  }
}

/* LOGIN  */
.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-primary {
  border-radius: 30px;
}

.text-primary:hover {
  text-decoration: underline;
}
