<!-- CREAR INMUEBLE  -->
{% extends "layouts/base.html" %}
{% block title %}Arriendo{% endblock %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Registra tu inmueble!</h2>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Error con usuario o contraseña. Por favor, intenta de nuevo.
                    </div>
                    {% else %}
                    <p class="text-muted">
                        Por favor, utiliza el siguiente formulario para iniciar sesión.
                        <a href="{% url 'register' %}" class="text-primary">¡Crea tu cuenta aquí!</a>
                    </p>
                    {% endif %}

                    <form action="{% url 'crear_inmueble' %}" method="POST" class="needs-validation " novalidate
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3 ">
                            {{ form.as_p}}
                        </div>



                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                        </div>
                    </form>
                </div>
                <!-- <div class="card-footer text-center">
                    <p class="mb-0">
                        <a href="#" class="text-secondary">¿Olvidaste tu contraseña?</a>
                    </p>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}