{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Inmuebles{% endblock %}

{% block content %}

<hr>
<!-- Recorrer elementos -->
<!--SECCION DESTACADOS CARDS-->
<section>
    <div class="container  ">
        <div class="row ">
            <div class="col-2">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <select name="comuna" class="form-select" onchange="this.form.submit()">
                        <option value="">Comunas</option>
                        {% for comunas in comunas %}
                        <option value="{{ comunas.id }}">
                            {{ comunas.nombre }}
                        </option>
                        {% endfor %}
                    </select>
                    <select name="region" class="form-select" onchange="this.form.submit()">
                        <option value="">Regiones</option>
                        {% for regiones in regiones %}
                        <option value="{{ regiones.codigo }}">
                            {{ regiones.nombre }}
                        </option>
                        {% endfor %}
                    </select>
                    <select name="tipo_inmueble" class="form-select" onchange="this.form.submit()">
                        <option value="">Tipo de inmueble</option>
                        {% for inmuebles in inmuebles %}
                        <option value="{{ inmuebles.tipo_inmueble }}">
                            {{ inmuebles.tipo_inmueble }}
                        </option>
                        {% endfor %}
                    </select>




                    <button class="mt-3 btn btn-primary" type="submit">Buscar</button>
                </form>
                <h1>{{comuna_id }}</h1>



            </div>
            <div class="col-10 ">

                <div class="row row-cols-1 row-cols-md-3 g-4 pb-5">
                    {% for inmuebles in inmuebles %}

                    <div class="col">
                        <div class="card property-card h-100 shadow-sm border-0">
                            {% if inmuebles.foto_inmueble %}
                            <img src="{{ inmuebles.foto_inmueble.url }}" class="card-img-top" alt="Propiedad 1">
                            {% endif %}

                            <div class="card-body">
                                <p> {{inmuebles.comuna}} | {{inmuebles.region}} </p>
                                <h5 class="card-title">{{inmuebles.nombre}}</h5>
                                <p class="card-text text-muted">{{inmuebles.descripcion}}</p>
                                <p>{{inmuebles.habitaciones}} habitaciones | {{inmuebles.banos}} baños |
                                    {{inmuebles.m2_construidos}}m² útiles </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="h4 text-primary mb-0">{{inmuebles.precio_clp}}</span>
                                    <a href="#" class="btn btn-sm btn-outline-primary">Ver Detalles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>

</section>


{% endblock %}