{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Inmuebles{% endblock %}

{% block content %}

<h1 class="text-center pt-5">DESTACADOS</h1>
<hr>
<!-- Recorrer elementos -->
<!--SECCION DESTACADOS CARDS-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <h1>Filtros</h1>
                    <select name="comuna" class="form-select" onchange="this.form.submit()">
                        <option value="">Comunas</option>
                        {% for comunas in comunas %}
                        <option value="{{ comunas.id }}">
                            {{ comunas.nombre }}
                        </option>
                        {% endfor %}
                    </select>
                    <select name="region" class="form-select" onchange="this.form.submit()">
                        <option value="">Regiones</option>
                        {% for regiones in regiones %}
                        <option value="{{ regiones.codigo }}">
                            {{ regiones.nombre }}
                        </option>
                        {% endfor %}
                    </select>
                    <select name="tipo_inmueble" class="form-select" onchange="this.form.submit()">
                        <option value="">Tipo de inmueble</option>
                        {% for inmuebles in inmuebles %}
                        <option value="{{ inmuebles.tipo_inmueble }}">
                            {{ inmuebles.tipo_inmueble }}
                        </option>
                        {% endfor %}
                    </select>




                    <button type="submit">Buscar</button>
                </form>
                <h1>{{comuna_id }}</h1>



            </div>
            <div class="col-10 ">

                <div class="row row-cols-1 row-cols-md-3 g-4 pb-5">
                    {% for inmuebles in inmueble %}
                    <div class="col">
                        <div class="card h-100 order border-0">

                            {% if inmuebles.foto_inmueble %}
                            <img src="{{ inmuebles.foto_inmueble.url }}" width=500>
                            {% endif %}


                            <!-- <img src="https://imanquehue.com/content/uploads/departamento-piloto.png" alt="Descripción"> -->
                            <div class="card-body p-4 ">
                                <p> {{inmuebles.comuna}} | {{inmuebles.region}} </p>
                                <h5 class="card-title">{{inmuebles.nombre}}</h5>
                                <h3 class="card-text fw-medium"> {{inmuebles.precio}} </h3>
                                <p class="card-text">{{inmuebles.descripcion}}</p>
                                <p>{{inmuebles.habitaciones}}habitaciones | {{inmuebles.banos}}baños |
                                    {{inmuebles.m2_construidos}}m² útiles </p>
                                <a href="{% url 'detalle_inmueble' inmueble.id %}">Editar tarea</a>
                                <a href="{% url 'eliminar_inmueble' inmueble.id %}">Eliminar tarea</a>
                                <a href="#" class="btn btn-primary">Solicitar más información</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</section>


{% endblock %}